#main-area {
    z-index: 11;
    position: relative;
}

.posts {
    margin-bottom: 0;
    padding-bottom: 50px;
}

.posts li {
    padding: 0 10px;
}

.posts li>div {
    background-color: var(--background-color);
    margin: 10px auto;
    padding: 0px;
    max-width: 500px;
    width: 100%;
    border-radius: 10px;
    filter: drop-shadow(0 0 3px var(--separator-color));
    animation: float-in 300ms ease-out;
}

@keyframes float-in {
    from {
        transform: translateX(100vw);
    }
    to {
        transform: translateX(0);
    }
}

.posts .profile-picture {
    width: 64px;
    aspect-ratio: 1;
    object-fit:cover;
    margin: 20px 0 0 20px;
    border-radius: 100%;
    filter: drop-shadow(0 0 3px var(--separator-color));
}

.posts span {
    display: inline-block;
    margin: 30px 20px;
    transform: translateY(-10px);
    word-wrap: break-word;
}

.posts span::after {
    content: var(--username);
    display: block;
    font-size: smaller;
}

.posts a {
    height: 0;
    display: inline-block;
}

.posts p {
    padding: 0 20px 20px 20px;
}

.posts .embed {
    max-width: 500px;
    width: 90%;
    border-radius: 5px;
    margin: auto;
    padding-bottom: 20px;
    display: block;
    filter: drop-shadow(0 0 5px var(--separator-color-alt));
}

.posts .embed:hover {
    cursor: zoom-in;
}

.posts .profile-picture:hover {
    scale: 1.1;
}

.interact {
    padding: 0 20px 10px;
    justify-content: space-evenly;
    display: flex;
    height: 32px;
    text-align: center;
}

.interact a {
    position: relative;
    transform: translateY(-10px);
}

.interact img {
    width: 32px;
    position: relative;
    transform: translateY(10px);
}

.liked {
    filter: invert(18%) sepia(87%) saturate(6912%) hue-rotate(3deg) brightness(101%) contrast(122%) !important;
}

#select-page {
    display: flex;
    justify-content: space-evenly;
    height: 60px;
}

#select-page img {
    max-width: 30px;
    width: 100%;
    transform: translateY(15px);
}