:root {
    --pointer-size: 100px;
}

html {
    overflow: hidden;
}

main {
    background-image: url("/img/ducks-bg-seamless.jpg");
    background-size: contain;
    background-position: calc(var(--pos-x) / 50) calc(var(--pos-y) / 50);
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
}

@keyframes scroll-bg {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 100vw 200vh;
    }
}

#pointer {
    position: fixed;
    top: calc(var(--pos-y) - (var(--pointer-size)/2));
    left: calc(var(--pos-x) - (var(--pointer-size)/2));
    width: var(--pointer-size);
    height: var(--pointer-size);
    border-radius: 100%;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.327) 0%, transparent 80%);
    z-index: 5;
}

#login-box {
    background-color: var(--background-color);
    z-index: 11;
    position: relative;
    width: fit-content;
    margin: 0 auto 50px auto;
    padding: 10px;
    border-radius: 10px;
    filter: drop-shadow(0 0 5px var(--background-color));
}

#login-box div.highlight {
    width: fit-content;
    margin: auto;
}

#login-box img {
    margin: 10px auto;
    display: block;
}

#login-box div {
    text-align: center;
    font-size: xx-large;
}

form {
    margin: 20px;
}

input {
    border: transparent;
    display: block;
    margin: 20px auto;
    border-radius: 20px;
    width: 90%;
    padding: 12px;
    background-color: var(--separator-color-alt);
    color: var(--text-color);
}

.register {
    display: block;
    margin: 10px auto;
    width: fit-content;
    color: var(--separator-color) !important;
    font-size: small;
}

.register:last-child {
    margin-bottom: 20px;
}