* {
    background-color: white !important;
    color: black !important;
    filter: saturate(0%) !important;
    border: none !important;
}

footer, #side-bar, #search-bar,
#search-bar-spacer, #new-post,
#select-page, #context-menu,
.interact, .zoom, .blur-bg {
    display: none !important;
}

#main-area {
    margin: 0 !important;
    width: 100vw !important;
    height: 100vh !important;
}

li>div {
    border: 1px solid black !important;
}