.hidden {
    animation: zoom-out 300ms ease-in-out forwards;
    animation-name: zoom-out !important;
}

.fade {
    opacity: 0;
}

.zoom {
    position: fixed;
    display: flex;
    width: 100vw;
    height: 100vh;
    top: 0px;
    left: 0px;
    z-index: 200;
    backdrop-filter: blur(5px);
    cursor: zoom-out;
    animation: zoom-in 300ms ease-out forwards;
}

@keyframes zoom-in {
    from {
        height: 0vh;
        opacity: 0%;
        backdrop-filter: blur(0px);
    }
    to {
        height: 100vh;
        opacity: 100%;
        backdrop-filter: blur(5px);
    }
}
@keyframes zoom-out {
    from {
        height: 100vh;
        backdrop-filter: blur(5px);
    }
    to {
        height: 0vh;
        backdrop-filter: blur(0px);
    }
}

.zoom img {
    margin: auto;
    max-width: 90%;
    max-height: 90%;
    width: 100%;
    object-fit: contain;
    filter: drop-shadow(0 0 10px var(--separator-color));
    z-index: 201;
    cursor: none;
}

#cz {
    --size: 250px;
    width: var(--size);
    height: var(--size);
    position: fixed;
    border-radius: 50%;
    left: calc(var(--pos-x) - var(--size) / 2 );
    top: calc(var(--pos-y) - var(--size) / 2);
    overflow: hidden;
    z-index: 202;
    transition: left 100ms ease-out, top 100ms ease-out;
    filter: drop-shadow(0 0 5px var(--separator-color));
    pointer-events: none;
}

#cz-img {
    position: absolute;
    width: 100vw;
    max-width: var(--og-w);
    max-height: var(--og-h);
    left: calc(var(--og-x) - var(--pos-x-rel) - var(--p-x));
    top: calc(var(--og-y) - var(--pos-y-rel) - var(--p-y));
    transition: left 200ms ease-out, top 200ms ease-out;
    transform-origin: top left;
    transform: scale(2);
    pointer-events: none;
}

@media (hover:none) {
    #cz, #cz-img {
        display: none !important;
    }
}